@import url('material-icons-templarian/2.1.19.min.css');



/* PRIMARY +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face{
font-family: 'Work Sans';
font-weight: 400;
font-style: normal;
src: local('?'),
url('work-sans/WorkSans-Regular.woff2') format('woff2'),
url('work-sans/WorkSans-Regular.woff') format('woff');
}

@font-face{
font-family: 'Work Sans';
font-weight: 700;
font-style: normal;
src: local('?'),
url('work-sans/WorkSans-Bold.woff2') format('woff2'),
url('work-sans/WorkSans-Bold.woff') format('woff');
}



/* BASE +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face{
font-family: 'Source Sans Pro';
font-weight: 400;
font-style: normal;
src: local('?'),
url('source-sans-pro/SourceSansPro-Regular.otf.woff2') format('woff2'),
url('source-sans-pro/SourceSansPro-Regular.otf.woff') format('woff');
}

@font-face{
font-family: 'Source Sans Pro';
font-weight: 700;
font-style: normal;
src: local('?'),
url('source-sans-pro/SourceSansPro-Bold.otf.woff2') format('woff2'),
url('source-sans-pro/SourceSansPro-Bold.otf.woff') format('woff');
}



/* MONOSPACE +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face{
font-family: 'Roboto Mono';
font-weight: 400;
font-style: normal;
src: local('?'),
url('roboto-mono/roboto-mono-v5-latin-regular.woff2') format('woff2'),
url('roboto-mono/roboto-mono-v5-latin-regular.woff') format('woff');
}

@font-face{
font-family: 'Roboto Mono';
font-weight: 700;
font-style: normal;
src: local('?'),
url('roboto-mono/roboto-mono-v5-latin-700.woff2') format('woff2'),
url('roboto-mono/roboto-mono-v5-latin-700.woff') format('woff');
}



/* MATERIAL ICONS GOOGLE +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: url('material-design-google/MaterialIcons-Regular.eot'); /* For IE6-8 */
src: local('?'),
url('material-icons-google/MaterialIcons-Regular.woff2') format('woff2'),
url('material-icons-google/MaterialIcons-Regular.woff') format('woff'),
url('material-icons-google/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}


/* MATERIAL ICONS TEMPLARIAN +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face {
font-family: 'Material Design Icons';
font-weight: normal;
font-weight: 400;
src: url('material-icons-templarian/materialdesignicons-webfont.eot');
src: local('?'),
url('material-icons-templarian/materialdesignicons-webfont.eot?#iefix&v=2.1.19') format('embedded-opentype'),
url('material-icons-templarian/materialdesignicons-webfont.woff2') format('woff2'), 
url('material-icons-templarian/materialdesignicons-webfont.woff') format('woff'), 
url('material-icons-templarian/materialdesignicons-webfont.ttf') format('truetype'), 
url('material-icons-templarian/materialdesignicons-webfont.svg#materialdesigniconsregular') format('svg');
}



/* BLOCKCHAIN +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

@font-face{
font-family:'Real Text';
font-weight: 400;
src: local('?'),
url('blockchain/5510788/35ad1471-8a23-4029-aa4f-55215056d128.woff2') format('woff2'),
url('blockchain/5510788/35ad1471-8a23-4029-aa4f-55215056d128.woff') format('woff');
}

@font-face{
font-family:'Real Text';
font-weight: 700;
src: local('?'),
url('blockchain/5510812/7d6dcd37-607a-4fe6-930a-4bd57cd4bf63.woff2') format('woff2'),
url('blockchain/5510812/7d6dcd37-607a-4fe6-930a-4bd57cd4bf63.woff') format('woff');
}

@font-face{
font-family:'Hurme Geometric Sans';
font-weight: 700;
src: local('?'),
url('blockchain/5512881/1f310b33-1cd6-4405-b93c-b1a4c63070eb.woff2') format('woff2'),
url('blockchain/5512881/1f310b33-1cd6-4405-b93c-b1a4c63070eb.woff') format('woff');
}
